<%- include('partials/header') %>
<div class="home-body">
    <div class="centered">
        <div class="container">
            <h1 class="display-4">Welcome to the Musical Remedy </h1>
            <h1 class="display-4">Start by connecting with Spotify</h1>
            <span class="dot"></span>
            <a class="btn btn-success btn-lg" href="/" role="button">Connect to Spotify</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>