<%- include('partials/header') %>

<div class="playlist-body">
  <div class="container">
    <div class="playlist-header">
      <h3>Popular Choices</h3>
      <h4>Songs for Breakup</h4>
    </div>
    <div id="products" class="row view-group">
      <ul class="list-group">
        <% for (let i = 0; i < 6; i++) { %>
        <li class="list-group-item">
          <i class="fas fa-play-circle fa-3x"></i>
          <div class="song-info">
            <span>Song title</span>
            <p>Singer</p>
          </div>
          <span class="time align-middle">3:33</span>
        </li>
        <% }; %>
      </ul>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
